<!DOCTYPE html>

<title>New Billrow</title>

{% block body %}
    <h1>Create new Billrow</h1>

    {{ include('billrow/_form.html.twig') }}

    <a href="{{ path('billrow_index') }}">back to list</a>
{% endblock %}
