<!DOCTYPE html>

<title>New Bill</title>

{% block body %}
    <h1>Create new Bill</h1>

    {{ include('bill/_form.html.twig') }}

    <a href="{{ path('bill_index') }}">back to list</a>
{% endblock %}
